@model ComplyRite.Web.MVC.Areas.ReportMgmt.Models.AuditArea
@using ComplyRite.Web.MVC.Areas.ReportMgmt.App_LocalResources


@************** Compliance level for Prerequisite Graph ***************@
<div class="col-lg-12 row">
    <div class="col-lg-5 col-lg-offset-4">
        <canvas id="prerequisite-piechart" prerequisite-yes-data="@Math.Round(Model.PassedCheckpointPercentage,2)" prerequisite-no-data="@Math.Round(Model.FailedCheckpointPercentage)" label="@Model.AreaOfAudit" width="400" height="300" class="canvas-custom-css"></canvas>
        <span><img id="prerequisite-piechart-img" class="canvasImg-custom-css" /></span>
    </div>
</div>
@**********************************************************************@


@******************* Timestamp Table & Attachments *********************@

@Html.Partial(@PartialViewsPathInfo.TimestampTableAndAttachments, Model.AuditDetails)
@Html.Partial(@PartialViewsPathInfo.AttachmentsSection, Model)

@**********************************************************************@

