@model IEnumerable<ComplyRite.Web.MVC.Areas.MasterDataMgmt.Models.CheckMgmt.CheckModel>
<script src="~/Areas/MasterDataMgmt/Scripts/CheckMgmtController.js"></script>
<div class="panel panel-primary" style="margin-top:2%;height:550px">
    <div class="panel panel-heading">
        REJECTED CHECKS
        <span class="pull-right">
            <a href="@Url.Action("AddNewCheck", null, new { area = "MasterDataMgmt", controller = "CheckManagement" }, Request.Url.Scheme)">
                <button class="btn btn-group" style="padding:3px 16px;color:white;background-color:#77f101">
                    <span style="color:white">Add</span>
                </button>
            </a>
        </span>
        <span class="pull-right fa fa-filter filterToggleClass"></span>
    </div>
    <div class="panel-body">
        <div id="activeChecks">
            <table class="table table-hovered tableCss">
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" name="selectAll" id="SelectAllCheckBox" class="regular-checkbox SelectAllCheckBox" value="@(Model.Count()+2)" /><label for="SelectAllCheckBox" class="SelectAllCheckBoxLabel"></label></th>
                        <th>Title <span class="fa fa-sort"></span></th>
                        <th>Category <span class="fa fa-sort"></span></th>
                        <th>Check Type <span class="fa fa-sort"></span></th>
                        <th>Score <span class="fa fa-sort"></span></th>
                        <th>Reason <span class="fa fa-sort"></span></th>
                        <th>Action</th>
                    </tr>
                    <tr class="filterRow">
                        <th></th>
                        <th class="width-30"><input type="text" class="text-uppercase" id="titleFilter" placeholder="Filter Title" /></th>
                        <th class="width-15"><input type="text" class="text-uppercase" id="titleFilter" placeholder="Filter Category" /></th>
                        <th class="width-15"><input type="text" class="text-uppercase" id="titleFilter" placeholder="Filter Check Type" /></th>
                        <th class="width-10"><input type="text" class="text-uppercase" id="titleFilter" placeholder="Filter Score" /></th>
                        <th class="width-15"><input type="text" class="text-uppercase" id="titleFilter" placeholder="Filter Reason" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td align="center"><input type="checkbox" name="name" class="regular-checkbox individualCheck name" value="@count" id="checkbox-1-@count" /><label for="checkbox-1-@count"></label></td>
                            <td>@item.Title</td>
                            <td>@item.Category</td>
                            <td>@item.CheckType</td>
                            <td>@item.Score</td>
                            <td>Data is not correct</td>
                            <td class="HoverAction">...</td>
                            <td class="table-hover-icons">
                                <span>
                                    <a href="@Url.Action("GetCheckView", "CheckManagement", new RouteValueDictionary(new { id = "2" }), Request.Url.Scheme)"><span class="fa fa-eye icon-round"></span></a>
                                </span>
                                <span>
                                    <a href="@Url.Action("GetCheckHistory", "CheckManagement", new RouteValueDictionary(new { id = "2" }), Request.Url.Scheme)"><span class="fa fa-history icon-round"></span></a>
                                </span>
                                <span>
                                    <a href="@Url.Action("ApproveCheck", "CheckManagement", new RouteValueDictionary(new { id = "2" }), Request.Url.Scheme)"><span class="fa fa-thumbs-up icon-round"></span></a>
                                </span>
                            </td>
                        </tr>
                    }
                  
                </tbody>
            </table>
        </div>
    </div>
</div>