@model ComplyRite.Web.MVC.Areas.MasterDataMgmt.Models.Checklist_Mgmt.ChecklistModel_New

<!-- STYLES -->
<link href="~/Areas/MasterDataMgmt/Content/CSS/CheckManagement.css" rel="stylesheet" />

<div>
    <h5>CHECKLIST DETAILS</h5>
    <hr />
    <input type="hidden" id="ViewBag_Feedback" value="@(ViewBag.Feedback)" />
    <input type="hidden" id="ViewBag_Color" value="@(ViewBag.Color)" />
    <br />
    <div style="display:flex;">
        <div id="this_checklist" style="flex:1;">
            <table class="table striped responsive-table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ChecklistCode)</td>
                        <td>@Html.DisplayFor(model => model.ChecklistCode)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.LocationName)</td>
                        <td>
                            @if (Model.LocationName == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.LocationName)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.AreaName)</td>
                        <td>
                            @if (Model.AreaName == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.AreaName)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.SubAreaName)</td>
                        <td>
                            @if (Model.SubAreaName == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.SubAreaName)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ChecklistName)</td>
                        <td>@Html.DisplayFor(model => model.ChecklistName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ChecklistDescription)</td>
                        <td>
                            @if (Model.ChecklistDescription == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.ChecklistDescription)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ChecklistIconFile)</td>
                        <td>
                            @if (Model.ChecklistIcon == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                <img id="myImg" src="@String.Concat(ViewBag.ImageUrl, "Audit/DownloadImage?filename=", Model.ChecklistIcon, "&ImageType=checklist")" height="100" style="border-radius:10px;" />
                                <!-- The Modal -->
                                <div id="myModal" class="my-modal">
                                    <span class="close">&times;</span>
                                    <img class="modal-content" id="img01">
                                    @*<div id="caption"></div>*@
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ChecklistType)</td>
                        <td>
                            @if (Model.ChecklistType == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.ChecklistType)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ChecklistCategory)</td>
                        <td>
                            @if (Model.ChecklistCategory == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.ChecklistCategory)
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.TotalNoOfChecks)</td>
                        <td>@Html.DisplayFor(model => model.TotalNoOfChecks)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.MaxScore)</td>
                        <td>@Html.DisplayFor(model => model.MaxScore)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status)</td>
                        <td>
                            @if (Model.Status == null)
                            {
                                <div class="not-available"></div>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Status)
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="this_checklist_checks" style="flex:2; overflow:auto;">
            <div style="padding-left:30px;">
                @if (Model.Checks == null)
                {
                    <h6><b>@Html.DisplayNameFor(model => model.Checks) (0)</b></h6>
                    <table class="table"><tr><td><div class="not-available"></div></td></tr></table>
                }
                else
                {
                    <h6><b>@Html.DisplayNameFor(model => model.Checks) (@(Model.Checks.Count))</b></h6>
                    <div>
                        <table class="table striped responsive-table">
                            @foreach (var check in Model.Checks)
                            {
                                <tr>
                                    <td>
                                        @if (check.CheckImage == null)
                                        {
                                            <i class="material-icons preview-image-not-available">image</i>
                                        }
                                        else
                                        {
                                            <img src="@String.Concat(ViewBag.ThumbnailUrl, "Audit/DownloadResizedImage?filename=", check.CheckImage, "&ImageType=check&width=67&Height=50")" style="border-radius:5px;" />
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(c => check.CheckCode)</td>
                                    <td>@Html.DisplayFor(c => check.CheckTitle)</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "EditChecklist", new { Model.ChecklistCode, Model.SubAreaCode }, new { @class = "btn btn-default action-button", @style = "margin-right:10px;" })
    @Html.ActionLink("Back to List", "ViewChecklists", null, new { @class = "btn btn-default" })
</p>

<!-- SCRIPTS -->
<script>
    $(function () {
        // FEEDBACK TOAST:
        var feedback = $('#ViewBag_Feedback').val();
        var color = $('#ViewBag_Color').val();

        var toastConfig = {
            classes: 'rounded ' + ((color == "green") ? "toast-success" : "toast-error"),
            inDuration: '500',
            displayLength: '5000',
            html: feedback
        };

        if (feedback.length) {
            M.toast(toastConfig);
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#this_checklist_checks div").css("max-height", $("#this_checklist table").css("height"));
    });
</script>
<script>
    Header = {
        'UserName':'@ViewBag.UserName',
        'UUID':'@ViewBag.UUID',
        'UserId': '@ViewBag.UserId',
        'LOBCode': '@ViewBag.LOBCode',
        'ModuleCode':'@ViewBag.ModuleCode'
    };
</script>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    //var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modal.style.zIndex = "999";
        modalImg.src = this.src;
        modalImg.style.maxWidth = "500px";
        //captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>